# Core
streamlit==1.27.1

# Data handling
pandas

# Visualization
plotly
streamlit-echarts
altair

# Finance API
yfinance

# Image handling (Streamlit dependency)
pillow

# Optional utilities
# Rich is already a dependency of Streamlit, pas besoin de fixer la version
